.OrdenDetailCover-name{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.OrdenDetailCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: rgb(230, 222, 222);
}

.OrdenDetailCover-img{
    width: 100px;
}

.Descripcion-Actividad{
    text-align: left;
}

.BlueColor{
    background-color: #33b5e5;
}

.GreenColor{
    background-color: #00C851;
}

.YelowColor{
    background-color: #ffff8d;
}
